    <%- include('header'); -%>
    <div class="container text-light">
        <h3>Introduction:</h3>
        <p class="pt-5"> <strong>Hey , </strong> I have created the Register User and Login authentication page so that we can properly login and sign up.Not only this! along with the we will check for the <em>cookie,session,flash message,passport</em> etc many more!</p>
        <p>I have created this in Nodejs and with some dependencies that are mentioned below. <strong>Let's get started !</strong> </p>
        <ul class="pt-2">
            <li> <em>Express</em></li>
            <li> <em>Express-session </em></li>
            <li> <em>Body Parser </em></li>
            <li> <em>Flash </em></li>
            <li> <em>Bcrypt </em></li>
            <li> <em>Mongoose </em></li>
            <li> <em>Connect-flash </em></li>
            <li> <em>Passport </em></li>
            <li> <em>Nodemon (Dev dependencie) </em></li>
        </ul>
    </div>